<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="2.0.0-beta2" targetFramework="net48" />
  <package id="FSharp.Core" version="9.0.100-beta.24466.6" targetFramework="net48" />
  <package id="MathNet.Numerics" version="6.0.0-beta1" targetFramework="net48" />
  <package id="MathNet.Numerics.FSharp" version="6.0.0-beta1" targetFramework="net48" />
  <package id="MathNet.Symbolics" version="0.25.0" targetFramework="net48" />
  <package id="MathParser.org-mXparser" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.2.0" targetFramework="net48" />
  <package id="OxyPlot.Wpf.Shared" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>